---
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import VideoCurso from "../../components/VideoCurso.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <Navbar></Navbar>
    <main class="w-full flex justify-center">
        <div class="w-11/12 max-w-xl flex flex-col items-center mt-32 gap-20">
            <VideoCurso
            title="Primer Guia: Casas"
            autor="Pepi"
            text="En este video podras ver cada uno de los pasos mas importantes a la hora de elbaorar una casa, desde el planeo, forma, entornos y el pintado"
            video_id="https://youtube.com/embed/v4R2D1VEpFs?si=kQyyakSHvJcoma7h"
            />

            <VideoCurso
            title="Segunda Guia: Arboles"
            autor="Pepi"
            text="¿Quieres llevar tus construcciones en Minecraft al siguiente nivel? En esta guía aprenderás paso a paso cómo crear árboles personalizados que harán que tu mundo se vea increíble. Desde elegir la referencia, hasta dar forma a las ramas, colocar hojas y añadir pequeños detalles decorativos. ¡Vamos a construir juntos!"
            video_id="https://youtube.com/embed/9UcVM80CoX4?si=Zg4gzs_L4SvgRKil"
            />
        </div>
    </main>
    <Footer></Footer>
</Layout>