---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from '../../components/Footer.astro'
import VideoCurso from "../../components/VideoCurso.astro";
---

<Layout title="Academia | Terrenos">
    <Navbar></Navbar>
    <main class="w-full flex justify-center">
        <div class="w-11/12 max-w-xl flex flex-col items-center mt-32 gap-20">
            <VideoCurso
            title="Primer Guia: Arceon"
            autor="zKMilo_A"
            text="En este video podras aprender a crear formas con el pincel boulder del plugin arceon, con las que podras crear terrenos increibles"
            video_id="https://youtube.com/embed/KsJdJ9UaqQw?si=jwzLNHyJwJyn6NHc"
            />

            <VideoCurso
            title="Segunda Guia: estrucutra del terreno"
            autor="Pepi"
            text="¿Quieres aprender a crear terrenos realistas y bien detallados en Minecraft? Esta guía te muestra paso a paso cómo planear, formar, pintar y detallar tu terreno para que se vea natural y único. Ideal para mejorar tus construcciones desde la base. ¡Empecemos desde el suelo!"
            video_id="https://youtube.com/embed/btkHhv9DP6I?si=c628iHXAa42ubvwo"
            />
        </div>
    </main>
    <Footer></Footer>
</Layout>