---
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import VideoCurso from "../../components/VideoCurso.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <Navbar></Navbar>
    <main class="w-full flex justify-center">
        <div class="w-11/12 max-w-xl flex flex-col items-center mt-32 gap-20">
            <VideoCurso
            title="Primer Guia: Pintado"
            autor="Pepi"
            text="¿Tu construcción se ve bien pero sientes que le falta vida? Este video te enseña cómo pintar y texturizar en Minecraft para que tus creaciones se vean mucho más detalladas y realistas. Desde las bases del color hasta técnicas avanzadas y un ejemplo práctico. ¡Vamos a darle color a tus ideas!"
            video_id="https://youtube.com/embed/5mQx-P3WyTk"
            />
        </div>
    </main>
    <Footer></Footer>
</Layout>