---
import Navbar from "../components/Navbar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Destacados">
    <Navbar></Navbar>
    <header class="w-full h-dvh flex flex-col justify-center items-center">
        <article class="max-w-5xl grid grid-cols-2">
            <div class="">
                <h1 class="text-center text-5xl font-extrabold">Descubre algunas de las construcciones mas impresionantes en nuestro servidor</h1>
            </div>
            <div>
                <img src="/destacado.png" alt="">
            </div>
        </article>
    </header>
</Layout>