---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import CardImage from '../components/CardImage.astro'
---

<Layout title="Destacados">
    <Navbar></Navbar>
    <header class="z-0 w-full h-96 flex flex-col justify-center items-center">
        <div class=" w-full h-96 bg-[url(/main-destacado.jpg)] bg-cover bg-no-repeat bg-center absolute blur-xs opacity-50"></div>
        <article class="relative w-11/12 max-w-5xl flex flex-col items-center gap-4">
            <h1 class="text-5xl font-extrabold flex items-center gap-2">
                <svg class="size-12 text-emerald-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                </svg>
                Destacado
            </h1>
            <h2 class="text-center text-xl max-w-2xl rounded-2xl border-2 border-neutral-500 bg-neutral-800/30 p-2"><span class="text-emerald-500">Descubre</span> algunas de las construcciones mas <span class="text-emerald-500">impresionantes</span> en nuestro servidor</h2>
        </article>
    </header>

    <main class="w-full flex flex-col items-center">
        <section class="w-11/12 max-w-5xl mt-16 mb-16">
            <!-- Contendor Grid -->
            <div class="grid grid-cols-3 gap-4">
                <CardImage
                path_img="/Destacados/001_zkmilo.png"
                autor="zKMilo_A"
                social="camilo_dt16"
                />

                <CardImage
                path_img=""
                autor=""
                social=""
                />

                <CardImage
                path_img=""
                autor=""
                social=""
                />

                <CardImage
                path_img=""
                autor=""
                social=""
                />

                <CardImage
                path_img=""
                autor=""
                social=""
                />

                <CardImage
                path_img=""
                autor=""
                social=""
                />
            </div>
        </section>
        <section class="w-11/12 max-w-5xl flex flex-col items-center gap-4 mb-16">
            <h2 class="text-4xl text-center font-extrabold">¿Quieres que tu <span class="text-emerald-500">construccion</span> este aqui?</h2>
            <p class="text-center max-w-4xl">Si quieres mostrar tu construccion en esta seccion puedes habrir ticket en nuestro servidor de Discord, donde te atenderemos y te pediremos los requisitos para que tu construccion aparesca aqui</p>
            <a href="https://discord.gg/UhtWrZN6eP" target="_blank" class="mt-8 px-5 py-2.5 bg-emerald-500/30 rounded-xl hover:bg-emerald-500 shadow hover:shadow-lg hover:shadow-emerald-500 hover:-translate-y-1 transition-all duration-300 ease">Ir al Discord</a>
        </section>
    </main>
    <Footer></Footer>
</Layout>