---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
	<Navbar></Navbar>
	<Header></Header>
	<main>
		
	</main>

	<style>

	</style>
</Layout>
