---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Team from '../components/Team.astro'
import Comunity from '../components/Comunity.astro';
---

<Layout title="Urban Builders">
	<Navbar></Navbar>
	<Header></Header>
	<main>
		<section id="info" class="info">
			<h2 class="h1-1 text-center">¿Que es <span>Urban Builders</span>?</h2>
			<div class="what-container text-center sm:text-left flex-col sm:flex-row">
				<img src="/members.png" alt="">
				<p class="max-w-80">En <b>UrbanBuilders</b>, unimos a constructores <span>creativos</span> para compartir, <span>aprender y colaborar</span> en proyectos únicos. Ofrecemos un espacio donde <span>la construcción es el corazón</span>, con <b>servidores exclusivos, plots públicas y herramientas</b> para que tu imaginación no tenga límites.</p>
			</div>
			<div class="what-container text-center sm:text-left flex-col sm:flex-row">
				<p class="order-2 sm:order-1 max-w-80">Mientras la mayoría de comunidades destacadas son en inglés, en <b>UrbanBuilders</b> celebramos el talento <span>hispanohablante</span>, ofreciendo un espacio inclusivo donde el <b>idioma</b> no sea un obstáculo para <span>crecer, inspirar y conectar</span>. <br><br>

				Ser el <span>referente para builders hispanohablantes</span>, fomentando la creatividad, la colaboración y el profesionalismo dentro de <b>Minecraft</b>.</p>
				<img class="order-1 sm:order-2" src="/users.png" alt="">
			</div>
			<Comunity></Comunity>
		</section>
		<Team></Team>
	</main>

	<style>
		main{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-family: 'Poppins';
		}
		.info{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 90%;
		}
		h2{
			font-size: 50px;
			font-weight: 900;
		}
		span{
			color: rgb(0, 255, 170, 0.7);
		}
		.h1-1{
			margin-top: 5.5rem;
		}
		.what-container{
			margin-top: 4rem;
			margin-bottom: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			max-width: 750px;
		}
		.what-container img{
			height: 200px;
			width: auto;
			border-radius: 10px;
			box-shadow: 0 5px 15px rgb(0, 255, 170, 0.1);
		}
	</style>
</Layout>
