<div class="box-container">
	<h2 class="font-extrabold text-center text-4xl sm:text-5xl">¡Unete a la <span>Comunidad</span>!</h2>
	<p class="descp-comunity"><b>¿Te apasiona construir?</b> Sé parte de un grupo que valora el <span>detalle</span>, la <span>originalidad</span> y el <span>trabajo en equipo</span>.</p>
	<div class="comunity-container flex-col sm:flex-row">
		<p><span><i class="fa-solid fa-circle-check"></i></span> Conecta con builders de todo el mundo <span><b>hispano</b></span>.

		<br><br><span><i class="fa-solid fa-circle-check"></i></span> Aprende <span><b>técnicas nuevas</b></span> y comparte tus conocimientos.

		<br><br><span><i class="fa-solid fa-circle-check"></i></span> Crea proyectos <b><span>épicos</span></b> en un entorno sin límites.

		<br><br><span><i class="fa-solid fa-door-open"></i></span> ¡Construye, <b><span>innova</span></b> y deja <b><span>marca</span></b> en <b>UrbanBuilders</b>!</p>
		<img class="h-52 w-auto max-w-full" src="/comunity.svg" alt="">
	</div>
	<div class="links-container">
		<a href="https://discord.gg/TbMD3zdWXt" target="_blank"><i class="fa-brands fa-discord"></i></a>
		<a href="https://x.com/urbanbuildersmc" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
		<a href="https://www.tiktok.com/@urbanbuildersmc" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
		<a href="https://www.youtube.com/@UrbanBuildersMC" target="_blank"><i class="fa-brands fa-youtube"></i></a>
	</div>
</div>

<style>
    span{
        color: rgb(0, 255, 170, 0.7);
    }
    .box-container{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 800px;
        align-items: center;
        background-color: #141414;
        padding: 10px 20px;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgb(0, 0, 0);
    }
    .box-container .descp-comunity{
        margin-top: 2rem;
    }
    .comunity-container{
        margin-top: 2rem;
        display: flex;
        gap: 3rem;
    }
    .comunity-container p i{
        filter: drop-shadow(0 5px 15px rgb(0, 255, 170, 0.7));
    }
    .links-container{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        gap: 1rem;
    }
    .links-container a{
        background-color: rgb(0, 255, 170, 0.2);
        border-radius: 10px;
        text-decoration: none;
        color: #e0e0e0;
        padding: 10px 15px;
        transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
        margin-top: 2rem;
    }
    .links-container a:hover{
        background-color: rgb(0, 255, 170, 0.5);
        box-shadow: 0 5px 15px #00ffaa;
        transform: translateY(-5px);
    }
    .links-container a i{
        font-size: 25px;
    }
</style>