<footer class="p-4 bg-neutral-900 border-t-2 border-neutral-800 md:p-8 lg:p-10">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-white">
            <img class="mr-2 h-8" src="/Urban_Logo_1.png" alt="Logo de Urban Builders">
            Urban Builders   
        </a>
        <p class="my-6 text-gray-400">Más que bloques: una comunidad de constructores hispanos que transforma mundos.</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-white">
            <li>
                <a href="/#info" class="mr-4 hover:underline md:mr-6 ">Sobre Nosotros</a>
            </li>
            <li>
                <a href="/Academia" class="mr-4 hover:underline md:mr-6">Academia</a>
            </li>
            <li>
                <a href="https://urbanbuilders.tebex.io/" target="_blank" class="mr-4 hover:underline md:mr-6 ">Tienda</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Destacados</a>
            </li>
            <li>
                <a href="/Ayuda" class="mr-4 hover:underline md:mr-6">Ayuda</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Comisiones</a>
            </li>
        </ul>
        <span class="text-sm text-gray-400">© 2025 <a href="https://discord.gg/YTTAsk9Xb3" target="_blank" class="hover:underline">Urban Builders™</a>. All Rights Reserved.</span>
    </div>
</footer>