---
---
<nav class="flex justify-end md:justify-center">
    <div class="nav-container flex">
        <div class="nav-bar gap-8 hidden md:flex">
            <a class="text-center" href="/#hero"><i class="fa-solid fa-house"></i> HOME</a>
            <a class="text-center" href="/#info"><i class="fa-solid fa-circle-info"></i> INFO</a>
            <a class="text-center" href="/Academia"><i class="fa-solid fa-graduation-cap"></i> ACADEMIA</a>
            <a class="text-center" href="https://urbanbuilders.tebex.io/" target="_blank"><i class="fa-solid fa-cart-shopping"></i> TIENDA</a>
            <a class="text-center" href="/Destacado"><i class="fa-solid fa-star"></i> DESTACADOS</a>
            <a class="text-center" href="/Ayuda"><i class="fa-solid fa-handshake-angle"></i> AYUDA</a>
        </div>
        <button id="menu-toggle" class="cursor-pointer rounded-xl px-2.5 py-1.5 hover:bg-emerald-800 hover:shadow-lg hover:shadow-emerald-500 transition-all duration-300 ease block md:hidden"><i class="fa-solid fa-bars"></i></button>
    </div>


    <div id="menu" class="z-11 pt-24 gap-4 flex flex-col w-52 h-full bg-black/80 fixed top-0 right-0 p-3 transform translate-x-full transition-transform duration-300">
        <a href="/#hero"><i class="fa-solid fa-house"></i> HOME</a>
        <a href="/#info"><i class="fa-solid fa-circle-info"></i> INFO</a>
        <a href="/Academia"><i class="fa-solid fa-graduation-cap"></i> ACADEMIA</a>
        <a href="https://urbanbuilders.tebex.io/" target="_blank"><i class="fa-solid fa-cart-shopping"></i> TIENDA</a>
        <a href="/Destacado"><i class="fa-solid fa-star"></i> DESTACADOS</a>
        <a href="/Ayuda"><i class="fa-solid fa-handshake-angle"></i> AYUDA</a>
    </div>
</nav>

<style>
    .nav-container {
        margin: 10px;
        gap: 2rem;
        justify-content: center;
        padding: 10px 15px;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 20px;
        position: fixed;
        z-index: 999;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
    }
    a{
        text-decoration: none;
        color: #e0e0e0;
        font-family: 'Poppins', sans-serif;
        transition: color 0.3s ease;
        padding: 5px 8px;
        border-radius: 6px;
        transition: box-shadow 0.5s ease, background-color 0.5s ease;
    }
    a:hover{
        color: #e0e0e0;
        background-color: rgb(0, 255, 170, 0.5);
        box-shadow: 0 5px 15px #00ffaa;
    }
    a i{
        transition: transform 0.3s ease;
    }
    a:hover i{
        transform: translateY(-3px);
    }
</style>

<script>
    document.getElementById('menu-toggle')?.addEventListener('click', () => {
    const menu = document.getElementById('menu');
    if (menu) {
        menu.classList.toggle('translate-x-full');
    }
});
</script>