<nav>
    <div class="nav-container">
        <a href="/#hero"><i class="fa-solid fa-house"></i> HOME</a>
        <a href="/#info"><i class="fa-solid fa-circle-info"></i> INFO</a>
        <a href="/Academia"><i class="fa-solid fa-graduation-cap"></i> ACADEMIA</a>
        <a href="https://urbanbuilders.tebex.io/" target="_blank"><i class="fa-solid fa-cart-shopping"></i> TIENDA</a>
        <a href="/Destacado"><i class="fa-solid fa-star"></i> DESTACADOS</a>
        <a href="/Ayuda"><i class="fa-solid fa-handshake-angle"></i> AYUDA</a>
    </div>
</nav>

<style>
    nav{
        display: flex;
        justify-content: center;
    }
    .nav-container {
        margin-top: 10px;
        display: flex;
        gap: 2rem;
        justify-content: center;
        padding: 15px 20px;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 20px;
        position: fixed;
        z-index: 10;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
    }
    a{
        text-decoration: none;
        color: #e0e0e0;
        font-family: 'Poppins', sans-serif;
        transition: color 0.3s ease;
        padding: 5px 8px;
        border-radius: 6px;
        transition: box-shadow 0.5s ease, background-color 0.5s ease;
    }
    a:hover{
        color: #e0e0e0;
        background-color: rgb(0, 255, 170, 0.5);
        box-shadow: 0 5px 15px #00ffaa;
    }
    a i{
        transition: transform 0.3s ease;
    }
    a:hover i{
        transform: translateY(-3px);
    }
</style>